body {
    background-color: black;
    color: wheat;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-left: 30px;
}

table, tr, td {
    border: 0px;
    border-color: none;
}

::selection {
    background-color: wheat;
    color: black;
}

input, label {
    cursor: pointer;
}

#boutonSoumettre:hover, #reesayer:hover, #commencerButton:hover {
    background-color: wheat;
    color: black;
    border-color: black;
    text-decoration: underline;
    text-transform: uppercase;
}
#boutonSoumettre, #reesayer, #commencerButton {
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
    border-bottom: 5px solid wheat;
    border-right: 5px solid wheat;
    width: 250px;
    height: 40px;
    font-size: large;
    text-decoration: none;
}

#commencerButton {
    margin-top: 75px;
    margin-left: 25px;
}

input {
    outline: one;
}