body {
    background-color: black;
    color: wheat;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-left: 26px;
}

table, tr, td {
    border: 0px;
    border-color: none;
}

::selection {
    background-color: wheat;
    color: black;
}

input, label {
    cursor: pointer;
}

#boutonSoumettre:hover, #reesayer:hover {
    background-color: wheat;
    color: black;
    text-decoration: underline;
}
#boutonSoumettre, #reesayer {
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
    width: 200px;
    height: 40px;
    font-size: large;
    text-decoration: none;
}